@section PageStyles{
    <link href="~/assets/static/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="~/assets/static/css/pretty-checkbox.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/dataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/dataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/bootstrap-sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/uploader/css/jquery.dm-uploader.min.css" rel="stylesheet" />
    <link href="~/assets/static/plugins/uploader/css/style.css" rel="stylesheet" />
}
<!-- begin page-header -->
<h1 class="page-header"><i class="fa-solid fa-users"></i> SHERIA <small> CLIENT ONBOARDING</small></h1>
<!-- end page-header -->
<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn">
            <a href="@Url.Action("OnboardList", "ClientManagement")" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fas fa-undo-alt"></i></a>
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Clients List</h4>
    </div>
    <div class="panel-body">
        <p></p>
        <div class="form-horizontal">
            @*<div class="row">
            <a id="editabledatatable_new" class="btn btn-sm btn-success" data-toggle="modal" data-target="#capture-record">
            <i class="fa fa-plus"></i> Add New
            </a>
            <br />
            <br />
            </div>*@
            <div class="row">
                <table id="editabledatatable" class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                        <tr role="row">
                            <th style="width:auto">Client Name</th>
                            <th style="width:auto">Phone Number</th>
                            <th style="width:auto">Email Address</th>
                            <th style="width:auto">Physical Address</th>
                            <th style="width:auto">Client Type</th>
                            <th style="width:auto"></th>
                            <th style="width:auto"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="row">
                <div class="form-group">
                    <div class="modal fade" id="capture-record" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Capture Client</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="form-control-label" for="client_type">Client Type</label>
                                            <select id="client_type" name="client_type" class="form-control">
                                                <option value="">Select Type</option>
                                                <option value="Individual">Individual</option>
                                                <option value="Company">Company</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="recordid" type="hidden" name="recordid" />
                                            <label class="form-control-label" for="client_name">Client Name</label>
                                            <input id="client_name" type="text" name="client_name" class="form-control" placeholder="Enter Client Name" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="phone_number">Phone Number</label>
                                            <input id="phone_number" type="text" name="phone_number" class="form-control" placeholder="Enter Postal Address" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="email">Email Address</label>
                                            <input id="email" type="text" name="email" class="form-control" placeholder="Enter Email Address" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="id_number">ID Number</label>
                                            <input id="id_number" type="text" name="id_number" class="form-control" placeholder="Enter Phone Number" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="kra_pin">KRA PIN</label>
                                            <input id="kra_pin" type="text" name="kra_pin" class="form-control" placeholder="Select KRA PIN" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="physical_address">Physical Address</label>
                                            <input id="physical_address" type="text" name="physical_address" class="form-control" placeholder="Enter Physical Address" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="postal_address">Postal Address</label>
                                            <input id="postal_address" type="text" name="postal_address" class="form-control" placeholder="Enter Postal Address" />
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label class="form-control-label" for="industry">Industry</label>
                                            <input id="industry" type="text" name="industry" class="form-control" placeholder="Enter Industry" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="form-control-label" for="remarks">Remarks</label>
                                            <textarea id="remarks" rows="3" name="remarks" placeholder="Enter Remarks" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    



                                    <div id="corp" style="display:none;">
                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-control-label" for="certificate_incorporation">Certificate of Incorporation</label>
                                                <input id="certificate_incorporation" type="text" name="certificate_incorporation" class="form-control" placeholder="Enter Certificate of Incorporation" />
                                            </div>
                                        </div>

                                    </div>

                                    <div id="indvi" style="display:none;">

                                        <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="form-control-label" for="identification_number">National ID/Passport Number</label>
                                                <input id="identification_number" type="text" name="identification_number" class="form-control" placeholder="Enter National ID/Passport Number" />
                                            </div>
                                        </div>

                                    </div>


                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn btn-white btn-sm" id="cancel" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Cancel</a>
                                    <a href="#" class="btn btn-success btn-sm" id="save"><i class="fa fa-save"></i>&nbsp;Save</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!-- end panel-body -->
<!-- end panel -->
@section PageScripts{
    <script src="~/assets/static/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/static/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/static/plugins/dataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/static/plugins/dataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/static/plugins/dataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/static/js/table-manage-responsive.demo.min.js"></script>
    <script src="~/assets/static/plugins/parsley/dist/parsley.js"></script>
    <script src="~/assets/static/plugins/uploader/js/jquery.dm-uploader.min.js"></script>
    <script src="~/assets/static/js/debugger.js"></script>
    <script src="~/assets/static/js/sheria/client-list.js"></script>
    <script src="~/assets/static/plugins/bootstrap-sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/assets/static/js/apps.min.js"></script>
}
